# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
*.tmp

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

secrets.ps1
tests.ps1
adhocruns.ps1
CouchPotato/settings.json
.jenkins
test.html
tests/here.xml
.vscode/settings.json
AdewaleSettings.config
secrets.json
